<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
 <h2>Create a Post</h2>
  <form th:action="@{/posts/create}" method="post" th:object="${post}">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" th:field="*{title}"><br><br>
    <label for="body"> Body: </label>
    <textarea name="body" id="body" rows="10" cols="32" th:field="*{body}"></textarea>
    <br>
<!--      <select name="user" id="user" th:field="*{user.id}">-->
<!--          <option-->
<!--                  th:each="user : ${users}"-->
<!--                  th:value="${user.id}"-->
<!--                  th:text="${user.email}">-->

<!--          </option>-->
<!--      </select>-->
    <br>
    <input type="submit" value="submit">
  </form>
</body>
</html>